:root{
  --color-primary-xo: #0c193b;
  --color-primary-o: #12224a;
  --color-primary: #1E3163;
  --color-primary-l: #2d437a;
  --color-primary-xl: #435b99;

  --color-secondary-xl: #ff8ced;
  --color-secondary-l: #ff7aea;
  --color-secondary: #ff67e7;
  --color-secondary-o: #db4bc4;
  --color-secondary-xo: #c73ab1;

  --color-text: #fff5fd;
  --font-title: 'Alumni Sans', sans-serif;
  --font-text: 'Glory', sans-serif;
}

*{
  margin: 0;
  padding: 0;
}
body, html{
  font-family: var(--font-text);
  background-color: var(--color-primary-xo);
  color: var(--color-text);
  overflow-x: hidden;
}

#app{
  margin-bottom: 5em;
}
.effect{
  box-shadow: 
  1px 1px var(--color-secondary-o),
  2px 2px var(--color-secondary-o), 
  3px 3px var(--color-secondary-o), 
  4px 4px var(--color-secondary-o), 
  5px 5px var(--color-secondary-o), 
  6px 6px var(--color-secondary-o), 
  7px 7px var(--color-secondary-o),
  8px 8px var(--color-secondary-o);
  transform: translateX(-8px) translateY(8px);
}
.btn_nav_active{
  background-color: var(--color-primary);
}
.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}
.header_title{
  font-family: var(--font-title);
  font-weight: bold;
  font-size: 3.3em;
  text-align: center;
  background-color: var(--color-primary);
  padding: 0 0.3em;
  margin-top: 0.3em;
}

@keyframes cambiarDimensionCircle {

  0%{
    border-radius: 82% 18% 100% 0% / 100% 57% 43% 0%  ;
  }

  25%{
    border-radius: 61% 39% 52% 48% / 67% 41% 59% 33% ;
  }

  50%{
    border-radius: 20% 80% 24% 76% / 28% 67% 33% 72% 
  }

  75%{
    border-radius: 29% 71% 17% 83% / 79% 31% 69% 21% ;
  }

  100%{
    border-radius: 100% 0% 33% 67% / 79% 41% 59% 21%  ;
  }


}

.header_circle{
  border-radius: 61% 39% 39% 61% / 28% 41% 59% 72% ;
  height: 12em;
  width: 12em;
  background: linear-gradient(320deg, var(--color-secondary) 33%, var(--color-primary-l) 100%);
  /*position: absolute;
  left: -2em;
  top: -2em;*/
  animation-name: cambiarDimensionCircle;
  animation-duration: 7s;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.header_by{
  margin-top: 1.3em;
}

.redes_container{
  width: 100vw;
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
}

.redes{
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  margin-right: auto;
  justify-content: flex-start;

}
.redes:last-child{
  margin-left: auto;
  margin-right: 0;
  justify-content: flex-end;
}
.redes_red{
  color: var(--color-secondary-xl);
  text-decoration: none;
  font-size: 1.9em;
  margin: 0.3em 0.2em;
}
.redes_frase{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  margin: 0 0.5em;
}

.nav{
  background-color: var(--color-primary-o);
  position: fixed;
  bottom: 0;
  width: 100vw;
}
.nav_list{
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  height: 3em;
}
.list_item{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.list_item a{
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3em 0.5em;
  font-size: 1.6em;
  transition: background-color 0.5s;
  width: 100%;
}
.list_item a:hover{
  background-color: var(--color-primary);
}
.list_item a i{
  color: var(--color-secondary);
}

/*about me*/

.aboutme{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2em;
}

.aboutme p{
  text-align: center;
}

.aboutme_title{
  background-color: var(--color-primary);
  margin-bottom: 1em;
  padding: 0.3em 0.7em;
  font-size: 2em;
}
.skills{
  margin-top: 0.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.skills_title{
  margin-top: 1em;
  font-size: 1.3em;
  margin-right: auto;
  border-bottom: 2px solid var(--color-secondary);
  padding: 0 0.3em;
}
.skills i{
  font-size: 1.8em;
  color: var(--color-secondary-l);
  margin: 0 0.2em;
  background-color: var(--color-primary);
  border-radius: 10px;
  padding: 0.1em 0.1em;
}

/* Articulos */
.articles{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}
.articles_title{
  margin-bottom: 1em;
  background-color: var(--color-primary);
  padding: 0.3em 0.7em;
  font-size: 2em;
}

.articles_list_title{
  margin-right: auto;
  font-size: 1.3em;
  /*border-bottom: 2px solid var(--color-secondary);*/
  padding-right: 0.5em;
  padding-bottom: 0.1em;
}
.articles_list_title i{
  color: var(--color-secondary-l);
  font-size: 1.1em;
  margin-right: -0.2em;
  margin-bottom: 0.7em;
}

.article{
  background-color: var(--color-primary);
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 3em 7em;
  grid-column-gap: 1em;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1.5em;
  box-shadow: 0px 0px 27px -5px rgba(0,0,0,0.8);
-webkit-box-shadow: 0px 0px 27px -5px rgba(0,0,0,0.8);
-moz-box-shadow: 0px 0px 27px -5px rgba(0,0,0,0.8);
}
.article_title{
  font-weight: bold;
  font-size: 1.3em;
  display: flex;
  margin-right: 1em;
  margin-top: 1em;
}
.article_color{
  height: 100%;
  width: 100%;
  background-color: var(--color-secondary);
  margin-right: 0.5em;
  grid-row-end: 3;
  grid-row-start: 1;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

  background: linear-gradient(0deg, var(--color-secondary-xo) 33%, var(--color-primary-xl) 100%);

  /* Degreadado con secundario */
  /*background: linear-gradient(0deg, var(--color-secondary-xo) 33%, var(--color-secondary-xl) 100%);*/

}

.article_resume{
  margin-right: 1em;
}